apiVersion: kustomize.config.k8s.io/v1beta1 
kind: Kustomization
metadata:
  name: openshift-gitops-cluster
resources:
  - openshift-gitops-cluster.yaml
  - openshift-gitops-operator.yaml
  - openshift-nmstate.yaml